@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Medula+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Zilla Slab Highlight", serif;
  --secondary-font: "League Gothic", serif;
}

body {
  background-color: rgb(237, 237, 237);
}
