.discover {
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/background.jpg");
  background-size: cover;
  gap: 48px;
}

.card-film {
  display: flex;
  justify-content: center;
  width: 800px;
  gap: 24px;
  align-items: center;
  margin-left: 36px;
}

.text-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.card-film img {
  height: 300px;
  border-radius: 10px;
  width: 225px;
  object-fit: contain;
}

.card-film h2 {
  font-family: var(--primary-font);
  color: rgb(25, 25, 25);
  font-size: 50px;
  font-weight: 600;
}

.p-text {
  font-family: var(--primary-font);
  color: rgb(25, 25, 25);
  font-size: 32px;
}

.card-description {
  font-family: var(--secondary-font);
  color: rgb(25, 25, 25);
  font-size: 28px;
  font-weight: 300;
  margin-top: 14px;
}
